#print-friendly {
    font-size: 30pt;
    padding: 0px;
    margin: 0px;
}
#print-friendly h1 {
    text-align: center;
}
@media print {
    body { color: #000; background-color: #fff; }
    .print-hidden { display: none; }
    @page {
        margin: 1cm;
    }
    .page-break {
        page-break-after: always;
    }
}
