body {
  padding-top: 0;
}
#projector-pool .prop-meta-heading {
  font-size: 100%;
}

#projector-pool .proposal-text {
  margin-bottom: 5px;
  padding-bottom: 5px;
  max-height: 150px;
  overflow: hidden;
  content: "";
  position: relative;
}
#projector-pool .proposal-text:before {
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    top: 80%;
    background: linear-gradient(transparent, #fff);
}
#projector-main .proposal-text {
  font-size: 150%;
}
#projector-pool .main-controls [data-wf-state] {
  display: none;
}
#projector-pool .main-controls [data-wf-state].active {
  display: block;
}
#projector-main .move-left {
  display: none;
}
#navbar-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  #navbar-heading { max-width: 550px; }
}
@media (min-width: 992px) {
  #navbar-heading { max-width: 800px; }
}
@media (min-width: 1200px) {
  #navbar-heading { max-width: 1000px; }
}
