body {
  padding-top: 0;
}
#projector-pool .prop-meta-heading {
  font-size: 100%;
  overflow: hidden;
}

#projector-pool .proposal-text {
  margin-bottom: 5px;
  padding-bottom: 5px;
  max-height: 150px;
  overflow: hidden;
  content: "";
  position: relative;
}
#projector-pool .proposal-text:before {
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    top: 80%;
    background: linear-gradient(transparent, #fff);
}
#projector-main .proposal-text {
    font-size: 150%;
}
#projector-main [data-wf-state="retracted"]:not(.active),
#projector-main [data-wf-state="unhandled"]:not(.active),
#projector-main [data-wf-state="voting"]:not(.active) {
    display: none;
}
#projector-main [data-wf-controls="retracted"] a:not(.active),
#projector-main [data-wf-controls="unhandled"] a:not(.active),
#projector-main [data-wf-controls="voting"] a:not(.active) {
    display: none;
}
#projector-pool .main-controls [data-wf-state] {
    display: none;
}
#projector-pool .main-controls [data-wf-state].active {
    display: block;
}
#projector-main .move-left {
    display: none;
}
.container-fluid .fixed-right {
    overflow-y: auto;
    position: fixed;
    float: none;
    top: 60px;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 0;
}
#projector-pool {
    padding: 0;
}

#proposal-filtering {
    margin-bottom: 4px;
}
[data-filter-content] li {
    padding-right: 5px;
}
[data-filter-content] input[type="checkbox"] {
    margin: 0 6px;
}

[role="menuitem"].disabled {
    pointer-events: none;
    color: #777;
}